# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# MLflow
mlruns/
mlartifacts/

# DVC cache
.dvc/cache/
.dvc/tmp/

# Artifacts (tracked by DVC or Git, not both)
artifacts/*.joblib

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Temp sources
ga_resources_temp/

# Secrets
*.json
!.github/
gcs-key*.json


StockAnalyticaData
oppe_data_temp